* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root{
  --base-color: rgb(24, 24, 24);
  --text-color: rgb(160, 160, 160);
  --body-color: rgb(36, 36, 36);
  --section-color: rgb(24, 24, 24);
  --header-footer-color: rgb(85, 85, 85);
}

.wrapper{
  height: 45vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--base-color);
  border-radius: 20px;
  padding: 20px;
  width: max(40%, 1000px);
  margin: 40px auto;

}

.buyBoxImg {
  width: 100%;
  height: 100%;
  max-width: 350px;
  max-height: 350px;
  object-fit: cover;
  border-radius: 15px;
}

.buyBoxTitle {
  font-size: 45px;
  color: var(--text-color);
  font-family: calibri;
  padding: 20px;
  text-align: right;
  justify-content: top;
}

.buyBoxPrice {
  font-size: 20px;
  color: var(--text-color);
  font-family: calibri;
  padding: 5px;
  text-align: right;
  margin-top: auto;
}

body {
  min-height: 100vh;
  text-decoration: none;
  background-color: var(--body-color);
  font-family: Arial, Helvetica, sans-serif;
}

/* Headings & text */
h1, h2 {
  font-size: 45px;
  color: var(--text-color);
  font-family: calibri;
  padding: 20px;
  text-align: center;
}

p {
  color: var(--text-color);
  padding: 5px;
  text-align: center;
}

/* Common container styling */
header a, footer, .footer {
  background-color: var(--header-footer-color);
  border-radius: 5px;
  margin: 10px;
  color: var(--text-color);
  padding: 10px; 
  text-align: center;
}

.aboutText{
  height: 25vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--base-color);
  border-radius: 20px;
  padding: 10px;
  width: max(30%, 1000px);
  margin: 30px auto;
}

.picOfSamira {
  align-items: center;
  width: 40%;
  height: 40%;
  border-radius: 15px;
  display: block;        /* removes inline spacing */
  margin: 1% 30%;
}

.aboutText{
  height: 15vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--base-color);
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  max-width: 800px;
  margin: 5px auto;
}

.aboutText1 {
  height: 25vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--base-color);
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
}

.contacts{
  text-align: center;
  padding: 35px 0px;
  font-size: 25px;
}

.forSale{
  text-align: center;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  font-size: 25px;
}

header { 
  color: var(--text-color); 
  padding: 20px; 
  text-align: center;
}

section { 
  text-align: center;
  background-color: var(--section-color); 
  margin: 25px; 
  padding: 5px; 
}

button:hover {
  background-color: #2b2b2b;
}

ul li a:hover {
  background-color: #2b2b2b;
}

ul li button, ul li a {
  display: block;
  width: 100%;
  background: rgb(70, 70, 70);
  color: rgb(177, 177, 177);
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0;
  border: none;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 600px) {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 10px auto;
  }
  ul li {
    width: 100%;
    
  }
  .buyBoxImg{
    width: 200px;
    height: auto;
    aspect-ratio: 1/1;
    margin: 5px 10px;
  }
  .wrapper{
    flex-direction: column;
    align-items: center;
    height: auto;
    width: max(90%, 300px);
  }
  .buyBoxTitle {
  font-size: 25px;
  color: var(--text-color);
  font-family: calibri;
  padding: 20px;
  text-align: right;
  justify-content: top;
}
}

@media (max-width: 1000px) {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 10px auto;
  }
  ul li {
    width: 100%;
    
  }
  .buyBoxImg{
    width: 200px;
    height: auto;
    aspect-ratio: 1/1;
    margin: 5px 10px;
  }
  .wrapper{
    flex-direction: column;
    align-items: center;
    height: auto;
    width: max(90%, 300px);
  }
  .buyBoxTitle {
  font-size: 25px;
  color: var(--text-color);
  font-family: calibri;
  padding: 20px;
  text-align: right;
  justify-content: top;
}
}

a {
  font-size: 30px;
  background-color: azure;
  color: rgb(177, 177, 177);
  border-radius: 10px;
  background: transparent;
}

/* Navbar */
.navbar {
  text-decoration: none;
  background: #000000;
  padding: 15px;
  text-decoration: none;
}

.top-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Logo */
.logo a {
  margin: 0; 
  padding: 0;
  font-family: calibri;
  font-size: 65px;
  font-weight: 500;
  color: rgb(173, 173, 173);
}

.footer {
  margin: 0px;
  background-color: #000000;   /* dark background */
  color: rgb(173, 173, 173);             /* text color */
  text-align: center;       /* center text */
  padding: 20px;
  margin-top: 40px;         /* space above footer */
}

.footer ul {
  list-style: none;         /* remove bullets */
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 2px;                /* space between links */
}

.footer a {
  color: #ddd;              /* lighter link color */
  text-decoration: none;
  font-size: 14px;
}
